body {
  overflow-x: hidden;
  overflow-y: scroll;
}
.fas {
  transition: transform 0.2s ease-in-out;
}

.fas.active {
  transform: scale(1.2); /* Tăng kích thước khi active */
}

.fixed-circle {
  transition: background-color 0.3s ease;
}

