.member-info h3 {
  white-space: nowrap; /* Ngăn không cho văn bản xuống dòng */
  overflow: hidden; /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi tràn */
  width: 100%;
  font-size: 1.2em;
  line-height: 1.4;
  text-align: center;
}
.member-info p {
  text-align: center;
}
.property-card {
  display: flex;
  flex-wrap: wrap; /* Cho phép các thẻ Card hiển thị trên nhiều dòng */
  gap: 20px; /* Khoảng cách giữa các thẻ Card */
  justify-content: space-between; /* Căn chỉnh các thẻ Car  d đều */
  width: 100; /* Điều chỉnh chiều rộng của thẻ card */
  margin: 50px; /* Khoảng cách giữa các thẻ */
}

.property-card .ant-card {
  flex: 1 1 calc(33.33% - 20px); /* Đảm bảo mỗi thẻ Card chiếm 1/3 chiều rộng */
  box-sizing: border-box;
}
.contact-icon i {
  font-size: 20px;
  transition: color 0.3s ease;
}

.contact-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.contact-icon:hover {
  background: rgba(255, 0, 0, 0.8);
}

.contact-icon i.fa-heart {
  color: inherit;
}
