.testimonials-container {
    display: flex;
    max-width: 1200px;
    margin: 160px auto;
    height: 400px;
}

.title-section {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}


h1 {
    font-size: 32px;
    margin: 10px 0;
}

p {
    color: #555;
    line-height: 1.6;
}

.testimonials-section {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.testimonials-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.testimonial {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
}

.customer-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

    .customer-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .customer-info strong {
        display: block;
    }

    .customer-info span {
        color: #888;
        font-size: 14px;
    }