.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../public/images/batdongsan1.png');
  background-size: cover;
  background-position: center;
}

.form-container-register {
  max-width: 450px;
  width: 100%;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow:
    0 0 25px 5px rgba(255, 99, 132, 0.7),
    0 0 25px 5px rgba(75, 192, 192, 0.7),
    0 0 25px 5px rgba(153, 102, 255, 0.7),
    0 0 25px 5px rgba(253, 187, 45, 0.7);
  background-color: rgba(249, 249, 249, 0.9);
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.ant-input,
.ant-select {
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.ant-btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.ant-btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.ant-btn[loading] {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}

@media (max-width: 480px) {
  .form-container-register {
    max-width: 100%;
    padding: 15px;
  }

  .register-container {
    padding: 10px;
  }
}
