.image-carousel1,.hero-section1, .testimonials-section1, .trusted-companies1, .team-section1, .footer1,.git-hubGlobea {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.git-hubGlobea.fade-in,
.image-carousel1.fade-in,
.hero-section1.fade-in,
.testimonials-section1.fade-in,
.trusted-companies1.fade-in,
.team-section1.fade-in,
.footer1.fade-in {
  opacity: 1;
}

.git-hubGlobea.fade-out,
.image-carousel1.fade-out,
.hero-section1.fade-out,
.testimonials-section1.fade-out,
.trusted-companies1.fade-out,
.team-section1.fade-out,
.footer1.fade-out {
  opacity: 0;
}
